<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSFileProviderDomainUsageDescription</key>
	<string></string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSHealthShareUsageDescription</key>
	<string>Your health data will be used to provide you with personalized health insights.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Your health data will be updated to keep track of your health metrics like heart rate, steps, and more.</string>
</dict>
</plist>
